{
  "openapi_path": "",
  "output_path": "./output",
  "targets": ["react-query"],
  "override_policies": {
    "react-query": "skip",
    "types": "override"
  },
  "react-query": {
    "generate_invalidations": true,
    "api_client_name": "apiClient",
    "hooks": [],
    "imports": []
  }
}